/* SETUP | GUIDE | 252_SETUPBASIC | DEMO - 2017-10-20 */

// -------------------------------------
// EXTEND

	%guide-indent {
		margin-left: 2rem;
	}

	%guide-label {
		font-size: #{$fontsize-xxsml}rem;
		padding: 5px 10px;
		color: white;
		background-color: #e5565d;
		display: inline-block;
	}

	%guide-label-sub {
		background-color: #ef989d;
	}

	%guide-label-end {
		float: right;
		clear: both;
	}

	%guide-line {
		border-top: 1px solid #e5565d;
	}

	%guide-line-sub {
		border-top: 1px solid #ef989d;
	}

	%guide-summary {
		font-size: #{$fontsize-xsml}rem;
		padding: 5px 10px;
		background-color: #eee;
	}

	%guide-box {
		border-top: 1px solid #e5565d;
		border-bottom: 1px solid #e5565d;
	}

	%guide-box-sub {
		border-top: 1px solid #ef989d;
		border-bottom: 1px solid #ef989d;
	}

	%guide-box-corner {
		border-top: 1px solid #e5565d;
		border-left: 1px solid #e5565d;
		border-bottom: 0;
	}

	%guide-box-corner-sub {
		border-top: 1px solid #ef989d;
		border-left: 1px solid #ef989d;
	}

	%guide-container {}

	%guide-divider {}

// -------------------------------------
// SELECTORS

	.guide-label {
		@extend %guide-label !optional;
	}

		.guide-label.indent {
			@extend %guide-indent !optional;
		}
		.guide-label.sub {
			@extend %guide-label-sub !optional;
		}

	.guide-label.end {
		@extend %guide-label !optional;
		@extend %guide-label-end !optional;
	}

	.guide-line {
		@extend %guide-line !optional;
	}

	.guide-line.indent {
		@extend %guide-indent !optional;
	}

	.guide-summary {
		@extend %guide-summary !optional;
	}

	.guide-summary.indent {
		@extend %guide-indent !optional;
	}

	.guide-box {
		@extend %guide-box !optional;
	}

	.guide-box.indent {
		@extend %guide-indent !optional;
	}

	.guide-box.corner {
		@extend %guide-box-corner !optional;
	}

	.guide-box.corner.sub {
		@extend %guide-box-corner-sub !optional;
	}

	.guide-container {
		@extend %guide-container !optional;
	}

	.guide-divider {
		@extend %guide-divider !optional;
	}

	.guide-area.top {}

	.guide-area.bottom {}