/* SETUP | VARIABLES | 253_SETUPBASIC | WIDTH-DEVICE - 2017-10-31 */

// -------------------------------------
// VARIABLES

// NOTE: RELATIVE BREAKPOINTS BASED ON DEVICES

	$width-widescreen:					160;		// 2560px
	$width-desktoplrg:					90;			// 1440px
	$width-desktop:						80;			// 1280px
	$width-desktopsml:					64;			// 1024px
	$width-tablet:						48;			// 768px
	$width-mobile:						26.563;		// 425px
	$width-mobilesml:					20;			// 320px