/* SETUP | VARIABLES | 253_SETUPBASIC | WIDTH - 2017-10-24 */

// -------------------------------------
// VARIABLES

	// GUTTER

	$width-gutter:						2;			// 32px
	$width-gutter-lrg:					4;			// 64px
	$width-gutter-sml:					1;			// 16px

// NOTE: FUNCTIONAL WIDTHS

	$width-pixel:						0.0625;		// 1px
	$width-zero: 						0;