/* SETUP | LAYOUT | 261_SETUPBASIC | HEADER - 2018-06-08 */

//		@include responsive-range(lrgup) {}
//		@include responsive-range(lrgdownbelow) {}
//		@include responsive-range(meddown) {}
//		@include responsive-range(smldown) {}
//		@include responsive-range(xsmldown) {}

// -------------------------------------
// EXTEND

	// SITE-HEADER

	%siteheader {}
	%siteheaderwrap {}

	// TITLE-AREA

	%titlearea {}

	// HEADER-WIDGET-AREA

	%headerwidgetarea {}

	// SITE-TITLE

	%sitetitle {

		// typography
		font-family: $fontfamily-sitetitle;				// fontfamily
		font-size: #{$fontsize-sitetitle}rem;			// fontsize
		font-weight: $fontweight-thick;
		line-height: 1;

	}
	%sitetitle-a {}
	%sitetitle-hvr {}

	// SITE-TITLE (HEADER-IMAGE)

	%headerimage-sitetitle {

		// graphic logo
		color: transparent;

	}
	%headerimage-sitetitle-a {

		// graphic logo
		width: 200px;
		height: 50px;

		display: block;
		color: transparent;
		background-size: contain !important;

	}
	%headerimage-sitetitle-hvr {}

	// SITE-DESCRIPTION

	%sitedescription {

		// typography
		font-family: $fontfamily-sitedescription;		// fontfamily
		font-size: #{$fontsize-sitedescription}rem;		// fontsize
		font-weight: $fontweight-thin;
		line-height: 1;

		// space
		margin-bottom: 0;

	}

	// SITE-DESCRIPTION (HEADER-IMAGE)

	%headerimage-sitedescription {}


// -------------------------------------
// SELECTORS

	// SITE-HEADER

	.site-header {
		@extend %siteheader !optional;
	}
	.site-header > .wrap {
		@extend %siteheaderwrap !optional;
	}

	// HEADER-WIDGET-AREA

	.header-widget-area {
		@extend %headerwidgetarea !optional;
	}

	// TITLE-AREA

	.title-area {
		@extend %titlearea !optional;
	}

	// SITE-TITLE

	.site-title {
		@extend %sitetitle !optional;

		a {
			@extend %sitetitle-a !optional;
		}
		a:hover {
			@extend %sitetitle-hvr !optional;
		}
	}

	// SITE-TITLE (HEADER IMAGE)

	.header-image .site-title {
		@extend %headerimage-sitetitle !optional;

		a {
			@extend %headerimage-sitetitle-a !optional;
		}
		a:hover {
			@extend %headerimage-sitetitle-hvr !optional;
		}
	}

	// SITE-DESCRIPTION

	.site-description {
		@extend %sitedescription !optional;
	}

	// SITE-DESCRIPTION (HEADER-IMAGE)

	.header-image .site-description {
		@extend %headerimage-sitedescription !optional;
	}