/* SETUP | VARIABLES | 3011_SETUP | FONTFAMILY - 2019-06-29 */

// -------------------------------------
// VARIABLES

	$fontfamily-default:				null;

// TYPE

	$fontfamily-serif:					null;

// TAGS

	$fontfamily-body:					"Source Sans Pro", sans-serif;
	$fontfamily-p:						null;
	
	// LIST
	$fontfamily-list:					null;
	$fontfamily-ul:						null;
	$fontfamily-ol:						null;
	$fontfamily-li:						null;

	// HEADLINE
	$fontfamily-headline:				"Source Sans Pro", sans-serif;
	$fontfamily-h1:						null;
	$fontfamily-h2:						null;
	$fontfamily-h3:						null;
	$fontfamily-h4:						null;
	$fontfamily-h5:						null;
	$fontfamily-h6:						null;

// PURPOSE

	// QUOTES
	$fontfamily-blockquote:				null;
	$fontfamily-quote:					"Source Sans Pro", serif;
	$fontfamily-cite:					null;

	// CAPTION
	$fontfamily-caption:				null;
	
	// TITLES
	$fontfamily-sitetitle:				null;
	$fontfamily-sitedescription:		null;
	$fontfamily-titlepage:				null;
	$fontfamily-titlepost:				null;
	$fontfamily-titlewidget:			null;
	$fontfamily-titlearchive:			null;

	// META
	$fontfamily-meta:					null;
	$fontfamily-copyright:				null;
	$fontfamily-breadcrumb:				null;

// PAGE & POST

	// ENTRY
	$fontfamily-entrytitle:				null;
	$fontfamily-entrymeta:				null;

	// SINGLE
	$fontfamily-single-entrytitle:		null;
	$fontfamily-single-entrymeta:		null;

	// PAGE
	$fontfamily-page-entrytitle:		null;
	$fontfamily-page-entrymeta:			null;

	// BLOG
	$fontfamily-blog-entrytitle:		null;
	$fontfamily-blog-entrymeta:			null;

	// ARCHIVE ENTRYTITLE
	$fontfamily-archive-entrytitle:		null;
	$fontfamily-archive-entrymeta:		null;

	// ARCHIVE
	$fontfamily-archivetitle:			null;
	$fontfamily-archivedescription:		null;

	// COMMENTS
	$fontfamily-commentstitle:			null;

	// REPLY
	$fontfamily-replytitle:				null;

	// WIDGET
	$fontfamily-widgettitle:			null;

// RELATIVE

	$fontfamily-compact:				null;
	$fontfamily-narrow:					null;
	$fontfamily-regular:				null;
	$fontfamily-wide:					null;
	$fontfamily-script:					null;