/* SETUP | SECTION | 260_SETUPBASIC | OUTERINNER - 2018-06-04 */

// -------------------------------------
// EXTEND

	// OUTER

	%outer {
		display: grid;
		grid-area: section-outer;
		grid-template-columns: 1fr;
		grid-template-areas:
		"section-inner";
	}
		%outer-center {
			grid-template-areas:
			". section-inner .";
		}
		%outer-left {
			grid-template-areas:
			"section-inner .";
		}
		%outer-right {
			grid-template-areas:
			". section-inner";
		}

	%outer-max {
		grid-template-columns: 1fr;
		grid-template-areas:
		"section-inner";
	}

	%outer-huge {
		grid-template-columns: minmax(auto, #{$width-huge}rem);
	}
		%outer-huge-center {
			grid-template-columns: 1fr minmax(auto, #{$width-huge}rem) 1fr;
		}
		%outer-huge-left {
			grid-template-columns: minmax(auto, #{$width-huge}rem) 1fr;
		}
		%outer-huge-right {
			grid-template-columns: 1fr minmax(auto, #{$width-huge}rem);
		}

	%outer-xlrg {
		grid-template-columns: minmax(auto, #{$width-xlrg}rem);
	}
		%outer-xlrg-center {
			grid-template-columns: 1fr minmax(auto, #{$width-xlrg}rem) 1fr;
		}
		%outer-xlrg-left {
			grid-template-columns: minmax(auto, #{$width-xlrg}rem) 1fr;
		}
		%outer-xlrg-right {
			grid-template-columns: 1fr minmax(auto, #{$width-xlrg}rem);
		}

	%outer-lrg {
		grid-template-columns: minmax(auto, #{$width-lrg}rem);
	}
		%outer-lrg-center {
			grid-template-columns: 1fr minmax(auto, #{$width-lrg}rem) 1fr;
		}
		%outer-lrg-left {
			grid-template-columns: minmax(auto, #{$width-lrg}rem) 1fr;
		}
		%outer-lrg-right {
			grid-template-columns: 1fr minmax(auto, #{$width-lrg}rem);
		}

	%outer-med {
		grid-template-columns: minmax(auto, #{$width-med}rem);
	}
		%outer-med-center {
			grid-template-columns: 1fr minmax(auto, #{$width-med}rem) 1fr;
		}
		%outer-med-left {
			grid-template-columns: minmax(auto, #{$width-med}rem) 1fr;
		}
		%outer-med-right {
			grid-template-columns: 1fr minmax(auto, #{$width-med}rem);
		}

	%outer-sml {
		grid-template-columns: minmax(auto, #{$width-sml}rem);
	}
		%outer-sml-center {
			grid-template-columns: 1fr minmax(auto, #{$width-sml}rem) 1fr;
		}
		%outer-sml-left {
			grid-template-columns: minmax(auto, #{$width-sml}rem) 1fr;
		}
		%outer-sml-right {
			grid-template-columns: 1fr minmax(auto, #{$width-sml}rem);
		}

	%outer-xsml {
		grid-template-columns: minmax(auto, #{$width-xsml}rem);
	}
		%outer-xsml-center {
			grid-template-columns: 1fr minmax(auto, #{$width-xsml}rem) 1fr;
		}
		%outer-xsml-left {
			grid-template-columns: minmax(auto, #{$width-xsml}rem) 1fr;
		}
		%outer-xsml-right {
			grid-template-columns: 1fr minmax(auto, #{$width-xsml}rem);
		}

	// INNER

	%inner {
		grid-area: section-inner;
	}

// -------------------------------------
// SELECTORS

	// OUTER

	.outer {
		@extend %outer !optional;
	}

	// OUTER

	.outer.max {
		@extend %outer-max !optional;
	}
	.outer.huge {
		@extend %outer-huge !optional;
	}
	.outer.xlrg {
		@extend %outer-xlrg !optional;
	}
	.outer.lrg {
		@extend %outer-lrg !optional;
	}
	.outer.med {
		@extend %outer-med !optional;
	}
	.outer.sml {
		@extend %outer-sml !optional;
	}

	.outer.max {
		@extend %outer-max !optional;
	}

	.outer.huge {
		@extend %outer-huge !optional;
	}
		.outer.huge.center {
			@extend %outer-center !optional;
			@extend %outer-huge-center !optional;
		}
		.outer.huge.left {
			@extend %outer-left !optional;
			@extend %outer-huge-left !optional;
		}
		.outer.huge.right {
			@extend %outer-right !optional;
			@extend %outer-huge-right !optional;
		}

	.outer.xlrg {
		@extend %outer-xlrg !optional;
	}
		.outer.xlrg.center {
			@extend %outer-center !optional;
			@extend %outer-xlrg-center !optional;
		}
		.outer.xlrg.left {
			@extend %outer-left !optional;
			@extend %outer-xlrg-left !optional;
		}
		.outer.xlrg.right {
			@extend %outer-right !optional;
			@extend %outer-xlrg-right !optional;
		}

	.outer.lrg {
		@extend %outer-lrg !optional;
	}
		.outer.lrg.center {
			@extend %outer-center !optional;
			@extend %outer-lrg-center !optional;
		}
		.outer.lrg.left {
			@extend %outer-left !optional;
			@extend %outer-lrg-left !optional;
		}
		.outer.lrg.right {
			@extend %outer-right !optional;
			@extend %outer-lrg-right !optional;
		}

	.outer.med {
		@extend %outer-med !optional;
	}
		.outer.med.center {
			@extend %outer-center !optional;
			@extend %outer-med-center !optional;
		}
		.outer.med.left {
			@extend %outer-left !optional;
			@extend %outer-med-left !optional;
		}
		.outer.med.right {
			@extend %outer-right !optional;
			@extend %outer-med-right !optional;
		}

	.outer.sml {
		@extend %outer-sml !optional;
	}
		.outer.sml.center {
			@extend %outer-center !optional;
			@extend %outer-sml-center !optional;
		}
		.outer.sml.left {
			@extend %outer-left !optional;
			@extend %outer-sml-left !optional;
		}
		.outer.sml.right {
			@extend %outer-right !optional;
			@extend %outer-sml-right !optional;
		}

	.outer.xsml {
		@extend %outer-xsml !optional;
	}
		.outer.xsml.center {
			@extend %outer-center !optional;
			@extend %outer-xsml-center !optional;
		}
		.outer.xsml.left {
			@extend %outer-left !optional;
			@extend %outer-xsml-left !optional;
		}
		.outer.xsml.right {
			@extend %outer-right !optional;
			@extend %outer-xsml-right !optional;
		}

	// INNER

	.inner {
		@extend %inner !optional;
	}