/* SETUP | SELECTOR | 2721_SETUP | ALIGN - 2018-12-14 */

// -------------------------------------
// EXTEND

// ALIGN

	%alignleft {
		float: left;
	}
	%alignright {
		float: right;
	}
	%aligncenter {
		margin-right: auto;
		margin-left: auto;
	}
	%alignfull {
		@include responsive-range(lrgup) {
			margin-left: calc(50% - 50vw);
			margin-right: calc(50% - 50vw);
			width: auto;
			max-width: 1000%;
		}
	}

// ALIGN WIDTHS

	%alignwide {
		@include responsive-range(lrgup) {
			//margin-left: calc(25% - 25vw);
			//margin-right: calc(25% - 25vw);
			//width: auto;
			//max-width: 1000%;
			margin-left: -128px;
			margin-right: -128px;
			min-width: 1024px;
		}
	}

	%alignwide-med {
		@include responsive-range(lrgup) {
			margin-left: 0;
			margin-right: 0;
			min-width: #{$width-layout-med}rem;
		}
	}

	%alignwide-sml {
		@include responsive-range(lrgup) {
			margin-left: 128px;
			margin-right: 128px;
			min-width: #{$width-layout-sml}rem;
		}
		@include responsive-range(lrgdownbelow) {
			margin-left: calc(50% - 50vw);
			margin-right: calc(50% - 50vw);
			width: auto;
			max-width: 1000%;
		}
	}

	%alignwide-xsml {
		@include responsive-range(lrgup) {
			margin-left: 171px;
			margin-right: 172px;
			min-width: #{$width-layout-xsml}rem;
		}
	}


// ALIGN IMG


	%alignwide-img {
		@include responsive-range(lrgup) {
			display: block;
			margin: 0 auto;
		}
	}
	%alignnone {
		float: none;
	}
	%aligncenter-item {
		display: block;
	}

// TEXTALIGN

	%textleft {
		text-align: left;
	}
	%textright {
		text-align: right;
	}
	%textcenter {
		text-align: center;
	}
	%textjustify {
		text-align: justify;
	}

// -------------------------------------
// SELECTORS

	// TEXT-ALIGN (bootstrap)

	.textleft {
		@extend %textleft !optional;
	}
	.textright {
		@extend %textright !optional;
	}
	.textcenter {
		@extend %textcenter !optional;
	}
	.textjustify {
		@extend %textjustify !optional;
	}

	// ALIGN

	.alignleft {
		@extend %alignleft !optional;
	}
	.alignright {
		@extend %alignright !optional;
	}
	.aligncenter {
		@extend %aligncenter !optional;
		@extend %aligncenter-item !optional;
	}

	// ALIGN WIDTHS

	.alignfull {
		@extend %alignfull !optional;
	}
	.alignwide {
		@extend %alignwide !optional;
	}
	.alignwide.width-med {
		@extend %alignwide-med !optional;
	}
	.alignwide.width-sml {
		@extend %alignwide-sml !optional;
	}
	.alignwide.width-xsml {
		@extend %alignwide-xsml !optional;
	}

	.alignnone {
		@extend %alignnone !optional;
	}

	// ALIGN IMG

	.alignfull img {
		@extend %alignwide-img !optional;
	}
	.alignwide img {
		@extend %alignwide-img !optional;
	}

	// IMG.ALIGN

	img.alignleft {
		@extend .alignleft !optional;
	}
	img.alignright {
		@extend .alignright !optional;
	}
	img.aligncenter {
		@extend %aligncenter !optional;
		@extend %aligncenter-item !optional;
	}
	.img.alignnone {
		@extend %alignnone !optional;
	}