/* SETUP | GENESIS | GENESIS-SAMPLE-271 | OBJECTS - 2019-04-02 */

/* Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
	vertical-align: top;
}

figure {
	margin: 0;
}