/* SETUP | VARIABLES | 261_SETUPBASIC | WIDTH-RANGE - 2018-06-04 */

// -------------------------------------
// VARIABLES

	// RELATIVE (BASED ON OVERALL SCALE)

	$width-huge:						90;			// 1440px
	$width-xlrg:						80;			// 1280px
	$width-lrg:							64;			// 1024px
	$width-med:							48;			// 768px
	$width-sml:							26.563;		// 425px
	$width-xsml:						20;			// 320px
	$width-xxsml:						15;			// 240px
	$width-tiny:						10;			// 160px

	$width-max:							100%;

	// CUSTOM

	$width-customone:					48;			// 768px
	$width-customtwo:					64;			// 1024px
	$width-customthree:					80;			// 1280px