/* SETUP | VARIABLES | 2911_SETUP | WIDTH-GRID - 2019-04-02 */

// -------------------------------------
// VARIABLES

	// GUTTER

	$width-gutter:						2;			// 32px
	$width-gutter-lrg:					4;			// 64px
	$width-gutter-sml:					1;			// 16px