/* SETUP | VARIABLES | 2911_SETUP | WIDTH-RANGE - 2019-04-02 */

// -------------------------------------
// VARIABLES

	// RELATIVE (BASED ON OVERALL SCALE)

	$width-huge:						90;			// 1440px
	$width-xlrg:						80;			// 1280px
	$width-lrg:							64;			// 1024px
	$width-med:							48;			// 768px
	$width-sml:							32;			// 512px
	$width-xsml:						26.563;		// 425px
	$width-xxsml:						20;			// 320px
	$width-xxxsml:						15;			// 240px
	$width-tiny:						10;			// 160px

	$width-max:							100%;

	// CUSTOM

	$width-customone:					48;			// 768px
	$width-customtwo:					64;			// 1024px
	$width-customthree:					80;			// 1280px