/* SETUP | VARIABLES | 2911_SETUP | WIDTH-LAYOUT - 2019-04-02 */

// -------------------------------------
// VARIABLES

	// SITEINNER

	$width-siteinner:					48;			// 768px
	$width-csw:							48;			// 768px

	$width-content:						48;			// 768px
	$width-sidebarprimary:				18.75;		// 300px
	$width-sidebarsecondary:			18.75;		// 300px

	// SITEHEADER

	$width-siteheader:					48;			// 768px
	$width-siteheaderwrap:				48;			// 768px

	// SITEFOOTER

	$width-sitefooter:					48;			// 768px
	$width-sitefooterwrap:				48;			// 768px

	// FOOTERWIDGETS

	$width-footerwidgets:				48;			// 768px
	$width-footerwidgetswrap:			48;			// 768px

	// PRIMARYMENU (HEADER)

	$width-primarymenu:					48;			// 768px
	$width-primarymenuwrap:				48;			// 768px

	// SECONDARYMENU (TOP)

	$width-secondarymenu:				48;			// 768px
	$width-secondarymenuwrap:			48;			// 768px

	// FOOTERMENU

	$width-footermenu:					48;			// 768px
	$width-footermenuwrap:				48;			// 768px

	// SITE LAYOUT

	$width-full:						48;			// 768px
	$width-cs:							68.75;		// 1100px
	$width-sc:							68.75;		// 1100px
	$width-css:							88;			// 1408px
	$width-scs:							88;			// 1408px
	$width-ssc:							88;			// 1408px

	// WIDTH LAYOUT RELATIVE

	$width-layout-huge:					90;			// 1440px
	$width-layout-xlrg:					80;			// 1280px
	$width-layout-lrg:					64;			// 1024px
	$width-layout-med:					48;			// 768px
	$width-layout-sml:					32;			// 512px
	$width-layout-xsml:					26.563;		// 425px
	$width-layout-xxsml:				20;			// 320px
	$width-layout-xxxsml:				15;			// 240px
	$width-layout-tiny:					10;			// 160px

	// BASE LAYOUT

	$width-base:						48;			// 768px
		$width-base-huge:				90;			// 1440px
		$width-base-xlrg:				80;			// 1280px
		$width-base-lrg:				64;			// 1024px
		$width-base-med:				48;			// 768px
		$width-base-sml:				26.563;		// 425px
		$width-base-xsml:				20;			// 320px