/* SETUP | LAYOUT | 261_SETUPPROFILE_GRID | HEADER - 2018-06-12 */

//		@include responsive-range(lrgup) {}
//		@include responsive-range(lrgdownbelow) {}
//		@include responsive-range(meddown) {}
//		@include responsive-range(smldown) {}
//		@include responsive-range(xsmldown) {}

// -------------------------------------
// EXTEND

	// SITE-HEADER

	%siteheader {

		//grid-area: header;

		// IE HOOK
		-ms-grid-column: 1;
		-ms-grid-row: 1/10;
		// GRID HOOK
		grid-column: 1;
		grid-row: 1/10;

		@include responsive-range(lrgup) {
			// IE HOOK
			-ms-grid-column: 1;
			-ms-grid-row: 1/10;
			// GRID HOOK
			grid-column: 1;
			grid-row: 1/10;
		}

		// IE
		//display: -ms-grid;
		//-ms-grid-columns: 1fr;
		//-ms-grid-rows: 1fr;

		// GRID
		//display: grid;
		//grid-template-columns: 1fr;
		//grid-template-rows: 1fr;

		@include responsive-range(lrgup) {
			// IE
			//-ms-grid-columns: 1fr minmax(0, 300px);
			// GRID
			//grid-template-columns: 1fr minmax(0, 300px);
			//grid-template-rows: 1fr;
		}

	}
	%siteheaderwrap {

		//grid-area: headerwrap;

		/*
		-ms-grid-column: 1;
		grid-column: 1;
		@include responsive-range(lrgup) {
			-ms-grid-column: 2;
			grid-column: 2;
		}
		*/
	}

	// TITLE-AREA

	%titlearea {

		/*
		grid-area: titlearea;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-template-areas:
		"sitetitle"
		"sitedescription";

		// MED (UP)
		@include responsive-range(medup) {}
		*/

	}

	// HEADER-WIDGET-AREA

	%headerwidgetarea {

		// grid-area: headerwidgetarea;
		
	}

	// SITE-TITLE

	%sitetitle {

		/*
		grid-area: sitetitle;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-template-areas:
		"sitetitlelink";

		// typography
		font-family: $fontfamily-sitetitle;				// fontfamily
		font-size: #{$fontsize-sitetitle}rem;			// fontsize
		font-weight: $fontweight-thick;
		line-height: 1;

		// MED (UP)
		@include responsive-range(medup) {}
		*/

	}
	%sitetitle-a {

		// grid-area: sitetitlelink;

	}
	%sitetitle-hvr {}

	// SITE-TITLE (HEADER-IMAGE)

	%headerimage-sitetitle {

		/*
		grid-template-columns: auto;
		grid-template-areas:
		"sitetitlelink";

		// graphic logo
		color: transparent;

		// MED (UP)
		@include responsive-range(medup) {}
		*/

	}
	%headerimage-sitetitle-a {

		// graphic logo
		width: 200px;
		height: 50px;

		display: block;
		color: transparent;
		background-size: contain !important;

	}
	%headerimage-sitetitle-hvr {}

	// SITE-DESCRIPTION

	%sitedescription {

		// grid-area: sitedescription;

		// typography
		font-family: $fontfamily-sitedescription;		// fontfamily
		font-size: #{$fontsize-sitedescription}rem;		// fontsize
		font-weight: $fontweight-thin;
		line-height: 1;

		// space
		margin-bottom: 0;

	}

	// SITE-DESCRIPTION (HEADER-IMAGE)

	%headerimage-sitedescription {}


// -------------------------------------
// SELECTORS

	// SITE-HEADER

	.site-header {
		@extend %siteheader !optional;
	}
	.site-header > .wrap {
		@extend %siteheaderwrap !optional;
	}

	// HEADER-WIDGET-AREA

	.header-widget-area {
		@extend %headerwidgetarea !optional;
	}

	// TITLE-AREA

	.title-area {
		@extend %titlearea !optional;
	}

	// SITE-TITLE

	.site-title {
		@extend %sitetitle !optional;

		a {
			@extend %sitetitle-a !optional;
		}
		a:hover {
			@extend %sitetitle-hvr !optional;
		}
	}

	// SITE-TITLE (HEADER IMAGE)

	.header-image .site-title {
		@extend %headerimage-sitetitle !optional;

		a {
			@extend %headerimage-sitetitle-a !optional;
		}
		a:hover {
			@extend %headerimage-sitetitle-hvr !optional;
		}
	}

	// SITE-DESCRIPTION

	.site-description {
		@extend %sitedescription !optional;
	}

	// SITE-DESCRIPTION (HEADER-IMAGE)

	.header-image .site-description {
		@extend %headerimage-sitedescription !optional;
	}