/* SETUP | VARIABLES | 260_SETUPBASIC | WIDTH-LAYOUT - 2018-04-23 */

// -------------------------------------
// VARIABLES

	// SITEINNER

	$width-siteinner:					48;			// 768px
	$width-csw:							48;			// 768px

	$width-content:						48;			// 768px
	$width-sidebarprimary:				16;			// 256px
	$width-sidebarsecondary:			16;			// 256px

	// SITEHEADER

	$width-siteheader:					48;			// 768px
	$width-siteheaderwrap:				48;			// 768px

	// SITEFOOTER

	$width-sitefooter:					48;			// 768px
	$width-sitefooterwrap:				48;			// 768px

	// FOOTERWIDGETS

	$width-footerwidgets:				48;			// 768px
	$width-footerwidgetswrap:			48;			// 768px

	// PRIMARYMENU (HEADER)

	$width-primarymenu:					48;			// 768px
	$width-primarymenuwrap:				48;			// 768px

	// SECONDARYMENU (TOP)

	$width-secondarymenu:				48;			// 768px
	$width-secondarymenuwrap:			48;			// 768px

	// FOOTERMENU

	$width-footermenu:					48;			// 768px
	$width-footermenuwrap:				48;			// 768px

	// SITE LAYOUT

	$width-full:						48;			// 768px
	$width-cs:							64;			// 1024px
	$width-sc:							64;			// 1024px
	$width-css:							80;			// 1280px
	$width-scs:							80;			// 1280px
	$width-ssc:							80;			// 1280px

	// BASE LAYOUT

	$width-base:						48;			// 768px
		$width-base-huge:				90;			// 1440px
		$width-base-xlrg:				80;			// 1280px
		$width-base-lrg:				64;			// 1024px
		$width-base-med:				48;			// 768px
		$width-base-sml:				26.563;		// 425px
		$width-base-xsml:				20;			// 320px