/* SETUP | VARIABLES | 260_SETUPBASIC | WIDTH-GRID - 2018-04-20 */

// -------------------------------------
// VARIABLES

	// GUTTER

	$width-gutter:						2;			// 32px
	$width-gutter-lrg:					4;			// 64px
	$width-gutter-sml:					1;			// 16px