/* SETUP | VARIABLES | 260_SETUPBASIC | WIDTH-MEDIA - 2018-04-20 */

// -------------------------------------
// VARIABLES

	// MEDIA

	$width-media-thumbnail:				9.375;		// 150px
	$width-media-medium:				18.75;		// 300px
	$width-media-large:					64;			// 1024px
	$width-media-full:					90;			// 1440px

	// ICON

	$width-icon-tiny:					0.5;		// 8px
	$width-icon-xsml:					1;			// 16px
	$width-icon-sml:					1.5;		// 24px
	$width-icon-med:					2;			// 32px
	$width-icon-lrg:					3;			// 48px
	$width-icon-xlrg:					4;			// 64px
	$width-icon-huge:					5;			// 80px

	// PIC

	$width-pic-tiny:					10;			// 160px
	$width-pic-xsml:					15;			// 240px
	$width-pic-sml:						20;			// 320px
	$width-pic-med:						26.563;		// 425px
	$width-pic-lrg:						48;			// 768px
	$width-pic-xlrg:					64;			// 1024px
	$width-pic-huge:					90;			// 1440px