/* SETUP | SPACING | 2721_SETUP | SPACE - 2018-12-14 */

// -------------------------------------
// GUIDE

	// SPACE VARIABLES

	// $space:				1.0;		16px

	// $space-tiny:			0.0625;		1px		TINY
	// $space-xxxsml:		0.125;		2px		XXXSML
	// $space-xxsml:		0.25;		4px		XXSML / QUARTER
	// $space-quarter:		0.25;		4px
	// $space-xsml:			0.3125;		5px		XSML
	// $space-sml:			0.5;		8px		SML / HALF
	// $space-half:			0.5;		8px
	// $space-default:		1.0;		16px	DEFAULT
	// $space-med:			1.5; 		24px	MED
	// $space-lrg:			2;			32px	LRG / DOUBLE
	// $space-xlrg:			3;			48px	XLRG / TRIPLE
	// $space-xxlrg:		4;			64px	XXLRG
	// $space-xxxlrg:		6;			96px	XXXHUGE
	// $space-huge:			8;			128px	HUGE
	// $space-xhuge:		10;			160px	XHUGE
	

// -------------------------------------
// EXTEND

// -------------------------------------
// SELECTORS

	// SPACE

	.space-med {
		@include responsive-range(meddown) {
			margin: #{$space-default}rem;
		}
	}
	.space-lrg {
		@include responsive-range(meddown) {
			margin: #{$space-med}rem;
		}
		@include responsive-range(smldown) {
			margin: #{$space-default}rem;
		}
	}
	.space-xlrg {
		@include responsive-range(meddown) {
			margin: #{$space-lrg}rem;
		}
		@include responsive-range(smldown) {
			margin: #{$space-med}rem;
		}
	}
	.space-xxlrg {
		@include responsive-range(meddown) {
			margin: #{$space-xlrg}rem;
		}
		@include responsive-range(smldown) {
			margin: #{$space-lrg}rem;
		}
	}
	.space-xxxlrg {
		@include responsive-range(meddown) {
			margin: #{$space-xxlrg}rem;
		}
		@include responsive-range(smldown) {
			margin: #{$space-xlrg}rem;
		}
	}
	.space-huge {
		@include responsive-range(meddown) {
			margin: #{$space-xxxlrg}rem;
		}
		@include responsive-range(smldown) {
			margin: #{$space-xxlrg}rem;
		}
	}
	.space-xhuge {
		@include responsive-range(meddown) {
			margin: #{$space-huge}rem;
		}
		@include responsive-range(smldown) {
			margin: #{$space-xxxlrg}rem;
		}
	}

	// SPACE-HORIZONTAL

	.space-med-x {
		@include responsive-range(meddown) {
			margin-right: #{$space-default}rem;
			margin-left: #{$space-default}rem;
		}
	}
	.space-lrg-x {
		@include responsive-range(meddown) {
			margin-right: #{$space-med}rem;
			margin-left: #{$space-med}rem;
		}
		@include responsive-range(smldown) {
			margin-right: #{$space-default}rem;
			margin-left: #{$space-default}rem;
		}
	}
	.space-xlrg-x {
		@include responsive-range(meddown) {
			margin-right: #{$space-lrg}rem;
			margin-left: #{$space-lrg}rem;
		}
		@include responsive-range(smldown) {
			margin-right: #{$space-med}rem;
			margin-left: #{$space-med}rem;
		}
	}
	.space-xxlrg-x {
		@include responsive-range(meddown) {
			margin-right: #{$space-xlrg}rem;
			margin-left: #{$space-xlrg}rem;
		}
		@include responsive-range(smldown) {
			margin-right: #{$space-lrg}rem;
			margin-left: #{$space-lrg}rem;
		}
	}
	.space-xxxlrg-x {
		@include responsive-range(meddown) {
			margin-right: #{$space-xxlrg}rem;
			margin-left: #{$space-xxlrg}rem;
		}
		@include responsive-range(smldown) {
			margin-right: #{$space-xlrg}rem;
			margin-left: #{$space-xlrg}rem;
		}
	}
	.space-huge-x {
		@include responsive-range(meddown) {
			margin-right: #{$space-xxxlrg}rem;
			margin-left: #{$space-xxxlrg}rem;
		}
		@include responsive-range(smldown) {
			margin-right: #{$space-xxlrg}rem;
			margin-left: #{$space-xxlrg}rem;
		}
	}
	.space-xhuge-x {
		@include responsive-range(meddown) {
			margin-right: #{$space-huge}rem;
			margin-left: #{$space-huge}rem;
		}
		@include responsive-range(smldown) {
			margin-right: #{$space-xxxlrg}rem;
			margin-left: #{$space-xxxlrg}rem;
		}
	}

	// SPACE-VERTICAL

	.space-med-y {
		@include responsive-range(meddown) {
			margin-top: #{$space-default}rem;
			margin-bottom: #{$space-default}rem;
		}
	}
	.space-lrg-y {
		@include responsive-range(meddown) {
			margin-top: #{$space-med}rem;
			margin-bottom: #{$space-med}rem;
		}
		@include responsive-range(smldown) {
			margin-top: #{$space-default}rem;
			margin-bottom: #{$space-default}rem;
		}
	}
	.space-xlrg-y {
		@include responsive-range(meddown) {
			margin-top: #{$space-lrg}rem;
			margin-bottom: #{$space-lrg}rem;
		}
		@include responsive-range(smldown) {
			margin-top: #{$space-med}rem;
			margin-bottom: #{$space-med}rem;
		}
	}
	.space-xxlrg-y {
		@include responsive-range(meddown) {
			margin-top: #{$space-xlrg}rem;
			margin-bottom: #{$space-xlrg}rem;
		}
		@include responsive-range(smldown) {
			margin-top: #{$space-lrg}rem;
			margin-bottom: #{$space-lrg}rem;
		}
	}
	.space-xxxlrg-y {
		@include responsive-range(meddown) {
			margin-top: #{$space-xxlrg}rem;
			margin-bottom: #{$space-xxlrg}rem;
		}
		@include responsive-range(smldown) {
			margin-top: #{$space-xlrg}rem;
			margin-bottom: #{$space-xlrg}rem;
		}
	}
	.space-huge-y {
		@include responsive-range(meddown) {
			margin-top: #{$space-xxxlrg}rem;
			margin-bottom: #{$space-xxxlrg}rem;
		}
		@include responsive-range(smldown) {
			margin-top: #{$space-xxlrg}rem;
			margin-bottom: #{$space-xxlrg}rem;
		}
	}
	.space-xhuge-y {
		@include responsive-range(meddown) {
			margin-top: #{$space-huge}rem;
			margin-bottom: #{$space-huge}rem;
		}
		@include responsive-range(smldown) {
			margin-top: #{$space-xxxlrg}rem;
			margin-bottom: #{$space-xxxlrg}rem;
		}
	}

	// SPACE-TOP

	.space-med-top {
		@include responsive-range(meddown) {
			margin-top: #{$space-default}rem;
		}
	}
	.space-lrg-top {
		@include responsive-range(meddown) {
			margin-top: #{$space-med}rem;
		}
		@include responsive-range(smldown) {
			margin-top: #{$space-default}rem;
		}
	}
	.space-xlrg-top {
		@include responsive-range(meddown) {
			margin-top: #{$space-lrg}rem;
		}
		@include responsive-range(smldown) {
			margin-top: #{$space-med}rem;
		}
	}
	.space-xxlrg-top {
		@include responsive-range(meddown) {
			margin-top: #{$space-xlrg}rem;
		}
		@include responsive-range(smldown) {
			margin-top: #{$space-lrg}rem;
		}
	}
	.space-xxxlrg-top {
		@include responsive-range(meddown) {
			margin-top: #{$space-xxlrg}rem;
		}
		@include responsive-range(smldown) {
			margin-top: #{$space-xlrg}rem;
		}
	}
	.space-huge-top {
		@include responsive-range(meddown) {
			margin-top: #{$space-xxxlrg}rem;
		}
		@include responsive-range(smldown) {
			margin-top: #{$space-xxlrg}rem;
		}
	}
	.space-xhuge-top {
		@include responsive-range(meddown) {
			margin-top: #{$space-huge}rem;
		}
		@include responsive-range(smldown) {
			margin-top: #{$space-xxxlrg}rem;
		}
	}

	// SPACE-BOTTOM

	.space-med-bottom {
		@include responsive-range(meddown) {
			margin-bottom: #{$space-default}rem;
		}
	}
	.space-lrg-bottom {
		@include responsive-range(meddown) {
			margin-bottom: #{$space-med}rem;
		}
		@include responsive-range(smldown) {
			margin-bottom: #{$space-default}rem;
		}
	}
	.space-xlrg-bottom {
		@include responsive-range(meddown) {
			margin-bottom: #{$space-lrg}rem;
		}
		@include responsive-range(smldown) {
			margin-bottom: #{$space-med}rem;
		}
	}
	.space-xxlrg-bottom {
		@include responsive-range(meddown) {
			margin-bottom: #{$space-xlrg}rem;
		}
		@include responsive-range(smldown) {
			margin-bottom: #{$space-lrg}rem;
		}
	}
	.space-xxxlrg-bottom {
		@include responsive-range(meddown) {
			margin-bottom: #{$space-xxlrg}rem;
		}
		@include responsive-range(smldown) {
			margin-bottom: #{$space-xlrg}rem;
		}
	}
	.space-huge-bottom {
		@include responsive-range(meddown) {
			margin-bottom: #{$space-xxxlrg}rem;
		}
		@include responsive-range(smldown) {
			margin-bottom: #{$space-xxlrg}rem;
		}
	}
	.space-xhuge-bottom {
		@include responsive-range(meddown) {
			margin-bottom: #{$space-huge}rem;
		}
		@include responsive-range(smldown) {
			margin-bottom: #{$space-xxxlrg}rem;
		}
	}

	// SPACE-LEFT

	.space-med-left {
		@include responsive-range(meddown) {
			margin-left: #{$space-default}rem;
		}
	}
	.space-lrg-left {
		@include responsive-range(meddown) {
			margin-left: #{$space-med}rem;
		}
		@include responsive-range(smldown) {
			margin-left: #{$space-default}rem;
		}
	}
	.space-xlrg-left {
		@include responsive-range(meddown) {
			margin-left: #{$space-lrg}rem;
		}
		@include responsive-range(smldown) {
			margin-left: #{$space-med}rem;
		}
	}
	.space-xxlrg-left {
		@include responsive-range(meddown) {
			margin-left: #{$space-xlrg}rem;
		}
		@include responsive-range(smldown) {
			margin-left: #{$space-lrg}rem;
		}
	}
	.space-xxxlrg-left {
		@include responsive-range(meddown) {
			margin-left: #{$space-xxlrg}rem;
		}
		@include responsive-range(smldown) {
			margin-left: #{$space-xlrg}rem;
		}
	}
	.space-huge-left {
		@include responsive-range(meddown) {
			margin-left: #{$space-xxxlrg}rem;
		}
		@include responsive-range(smldown) {
			margin-left: #{$space-xxlrg}rem;
		}
	}
	.space-xhuge-left {
		@include responsive-range(meddown) {
			margin-left: #{$space-huge}rem;
		}
		@include responsive-range(smldown) {
			margin-left: #{$space-xxxlrg}rem;
		}
	}

	// SPACE-RIGHT

	.space-med-right {
		@include responsive-range(meddown) {
			margin-right: #{$space-default}rem;
		}
	}
	.space-lrg-right {
		@include responsive-range(meddown) {
			margin-right: #{$space-med}rem;
		}
		@include responsive-range(smldown) {
			margin-right: #{$space-default}rem;
		}
	}
	.space-xlrg-right {
		@include responsive-range(meddown) {
			margin-right: #{$space-lrg}rem;
		}
		@include responsive-range(smldown) {
			margin-right: #{$space-med}rem;
		}
	}
	.space-xxlrg-right {
		@include responsive-range(meddown) {
			margin-right: #{$space-xlrg}rem;
		}
		@include responsive-range(smldown) {
			margin-right: #{$space-lrg}rem;
		}
	}
	.space-xxxlrg-right {
		@include responsive-range(meddown) {
			margin-right: #{$space-xxlrg}rem;
		}
		@include responsive-range(smldown) {
			margin-right: #{$space-xlrg}rem;
		}
	}
	.space-huge-right {
		@include responsive-range(meddown) {
			margin-right: #{$space-xxxlrg}rem;
		}
		@include responsive-range(smldown) {
			margin-right: #{$space-xxlrg}rem;
		}
	}
	.space-xhuge-right {
		@include responsive-range(meddown) {
			margin-right: #{$space-huge}rem;
		}
		@include responsive-range(smldown) {
			margin-right: #{$space-xxxlrg}rem;
		}
	}
