/* SETUP | SELECTOR | 2811_SETUP | ALIGN - 2019-02-08 */

// -------------------------------------
// EXTEND

// ALIGN

	%alignleft {
		float: left;
	}
	%alignright {
		float: right;
	}
	%aligncenter {
		margin-right: auto;
		margin-left: auto;
	}

// ALIGN IMG

	%alignleft-img {
		margin-right: #{$space-med}rem;
	}
	%alignright-img {
		margin-left: #{$space-med}rem;
	}

// ALIGN FULL

	%alignfull {
		margin-left: calc(-100vw / 2 + 100% / 2);
		margin-right: calc(-100vw / 2 + 100% / 2);
		max-width: 100vw;
	}
	%alignfull--fullwidth {
		margin-left: calc(-100vw / 2 + 100% / 2);
		margin-right: calc(-100vw / 2 + 100% / 2);
		max-width: 100vw;
	}
	%alignfull--cs {
		//margin: 0 0 2em;
		margin-right: 0;
		margin-left: 0;
		width: 100%;
	}


// ALIGN WIDE

	%alignwide {
		@include responsive-range(lrgup) {
			margin-left: -128px;
			margin-right: -128px;
			min-width: #{$width-layout-lrg}rem;
		}
		@include responsive-range(lrgdownbelow) {
			margin-left: auto;
			margin-right: auto;
			width: 100%;
		}
	}
	%alignwide--cs {
		@include responsive-range(lrgup) {
			margin-left: auto;
			margin-right: auto;
			width: 100%;
			min-width: auto;
			max-width: #{$width-layout-med}rem;
		}
		@include responsive-range(lrgdownbelow) {
			max-width: #{$width-layout-med}rem;
		}
	}

	%alignwide-med {
		@include responsive-range(lrgup) {
			margin-left: auto;
			margin-right: auto;
			min-width: #{$width-layout-med}rem;
			max-width: #{$width-layout-med}rem;
		}
		@include responsive-range(lrgdownbelow) {
			max-width: #{$width-layout-med}rem;
		}
	}
	%alignwide-med--cs {
		@include responsive-range(lrgdown) {
			min-width: auto;
			max-width: #{$width-layout-med}rem;
		}
	}

	%alignwide-sml {
		@include responsive-range(lrgup) {
			margin-left: auto;
			margin-right: auto;
			min-width: #{$width-layout-sml}rem;
			max-width: #{$width-layout-sml}rem;
		}
		@include responsive-range(lrgdownbelow) {
			max-width: #{$width-layout-sml}rem;
		}
	}
	%alignwide-sml--cs {
		@include responsive-range(lrgdown) {
			min-width: auto;
			max-width: #{$width-layout-sml}rem;
		}
	}

	%alignwide-xsml {
		@include responsive-range(lrgup) {
			margin-left: auto;
			margin-right: auto;
			min-width: #{$width-layout-xsml}rem;
			max-width: #{$width-layout-xsml}rem;
		}
		@include responsive-range(lrgdownbelow) {
			max-width: #{$width-layout-xsml}rem;
		}
	}
	%alignwide-xsml--cs {
		@include responsive-range(lrgdown) {
			min-width: auto;
			max-width: #{$width-layout-xsml}rem;
		}
	}


// ALIGNWIDE IMG


	%alignwide-img {
		@include responsive-range(lrgup) {
			display: block;
			margin: 0 auto;
		}
	}
	%alignnone {
		float: none;
	}
	%aligncenter-item {
		display: block;
	}

// TEXTALIGN

	%textleft {
		text-align: left;
	}
	%textright {
		text-align: right;
	}
	%textcenter {
		text-align: center;
	}
	%textjustify {
		text-align: justify;
	}

// -------------------------------------
// SELECTORS

	// TEXT-ALIGN (bootstrap)

	.textleft {
		@extend %textleft !optional;
	}
	.textright {
		@extend %textright !optional;
	}
	.textcenter {
		@extend %textcenter !optional;
	}
	.textjustify {
		@extend %textjustify !optional;
	}

	// ALIGN

	.alignleft {
		@extend %alignleft !optional;
	}
	.alignright {
		@extend %alignright !optional;
	}
	.aligncenter {
		@extend %aligncenter !optional;
		@extend %aligncenter-item !optional;
	}

	// ALIGN FULL

	.alignfull {
		@extend %alignfull !optional;
	}
		.full-width-content .entry-content .alignfull {
			@extend %alignfull--fullwidth !optional;
		}
		.content-sidebar .entry-content .alignfull {
			@extend %alignfull--cs !optional;
		}
	.sidebar-content .entry-content .alignfull {
		@extend %alignfull--cs !optional;
	}

	// ALIGN WIDE

	.alignwide {
		@extend %alignwide !optional;
	}
		.content-sidebar .alignwide {
			@extend %alignwide--cs !optional;
		}
	.alignwide.width-med {
		@extend %alignwide-med !optional;
	}
		.content-sidebar .alignwide.width-med {
			@extend %alignwide-med--cs !optional;
		}
	.alignwide.width-sml {
		@extend %alignwide-sml !optional;
	}
		.content-sidebar .alignwide.width-sml {
			@extend %alignwide-sml--cs !optional;
		}
	.alignwide.width-xsml {
		@extend %alignwide-xsml !optional;
	}
		.content-sidebar .alignwide.width-xsml {
			@extend %alignwide-xsml--cs !optional;
		}

	.alignnone {
		@extend %alignnone !optional;
	}

	// ALIGN IMG

	.alignfull img {
		@extend %alignwide-img !optional;
	}
	.alignwide img {
		@extend %alignwide-img !optional;
	}

	// IMG.ALIGN

	img.alignleft {
		@extend %alignleft !optional;
		@extend %alignleft-img !optional;
	}
	img.alignright {
		@extend %alignright !optional;
		@extend %alignright-img !optional;
	}
	img.aligncenter {
		@extend %aligncenter !optional;
		@extend %aligncenter-item !optional;
	}
	img.alignnone {
		@extend %alignnone !optional;
	}