/* SETUP | SECTION | 2811_SETUP | SECTION-FULLSCREEN - 2019-03-25 */

// -------------------------------------
// EXTEND

// SECTION-FULLSCREEN

	%section-fullscreen {

		// PULLOUT
		margin-left: calc(-100vw / 2 + 100% / 2);
		margin-right: calc(-100vw / 2 + 100% / 2);
		max-width: 100vw;

		// FULLSCREEN
		min-height: 100vh;
		//min-width: 100vw;
	}

// SECTION-FULLWIDTH

	%section-fullwidth {
		margin-left: calc(-100vw / 2 + 100% / 2);
		margin-right: calc(-100vw / 2 + 100% / 2);
		max-width: 100vw;
	}

	// OUTER & INNER

	%section-fullwidth-outer {}
	%section-fullwidth-inner {}

	// SECTION-FULLWIDTH.OUTER.WIDTH-X .INNER

	%outerxlrg-inner {
		max-width: #{$width-xlrg}rem;
	}
	%outerlrg-inner {
		max-width: #{$width-lrg}rem;
	}
	%outermed-inner {
		max-width: #{$width-med}rem;
	}
	%outersml-inner {
		max-width: #{$width-sml}rem;
	}
	

// -------------------------------------
// SELECTORS

	// SECTION-FULLSCREEN

	.section-fullscreen {
		@extend %section-fullscreen !optional;
	}

	// SECTION-FULLWIDTH

	.section-fullwidth {
		@extend %section-fullwidth !optional;
	}

	// SECTION-FULLWIDTH OUTER

	.section-fullwidth.outer {
		@extend %section-fullwidth-outer !optional;
	}

	// SECTION-FULLWIDTH INNER

	.section-fullwidth .inner {
		@extend %section-fullwidth-inner !optional;
	}

	// SECTION-FULLWIDTH.OUTER.WIDTH-X .INNER

	.section-fullwidth.outer.width-xlrg .inner {
		@extend %outerxlrg-inner !optional;
	}
	.section-fullwidth.outer.width-lrg .inner {
		@extend %outerlrg-inner !optional;
	}
	.section-fullwidth.outer.width-med .inner {
		@extend %outermed-inner !optional;
	}
	.section-fullwidth.outer.width-sml .inner {
		@extend %outersml-inner !optional;
	}