/* SETUP | LAYOUT | 251_SETUPBASIC | CREDIT - 2017-08-31 */

// -------------------------------------
// EXTEND

	// COPYRIGHT

	%copyright {
		color: $color-gray;
		font-size: #{$fontsize-xsml}rem;
		line-height: 1.4;
		display: block;

		grid-area: copyright;

		// MOBILE -1 (DOWN)
		@include responsive-range(mobilebelowdown) {}
		// MOBILE (UP)
		@include responsive-range(mobileup) {}
		// TABLET (UP)
		@include responsive-range(tabletup) {}
		// DESKTOP SMALL (UP)
		@include responsive-range(desktopsmlup) {}
		// DESKTOP (UP)
		@include responsive-range(desktopup) {}
		// WIDESCREEN (UP)
		@include responsive-range(widescreenup) {}

	}
		%copyright-a {}
		%copyright-hvr {}

	// SITEBY

	%siteby {
		margin-bottom: 0.5rem;

		grid-area: siteby;

		// MOBILE -1 (DOWN)
		@include responsive-range(mobilebelowdown) {}
		// MOBILE (UP)
		@include responsive-range(mobileup) {}
		// TABLET (UP)
		@include responsive-range(tabletup) {}
		// DESKTOP SMALL (UP)
		@include responsive-range(desktopsmlup) {
			margin-bottom: 0;
		}
		// DESKTOP (UP)
		@include responsive-range(desktopup) {}
		// WIDESCREEN (UP)
		@include responsive-range(widescreenup) {}

	}
		%siteby-a {
			background-image: url("https://smarterwebpackages.com/brand/smarterwebpackages-240x60.png");
			background-repeat: no-repeat;
		 	background-position: center;
		 	background-attachment: scroll;
			background-size: 120px;
			width: 120px;
			height: 30px;
			display: block;
			overflow: hidden;
			text-decoration: none;
			text-indent: -9999px;
		}
		%siteby-hvr {
			text-decoration: none;
		}


// -------------------------------------
// SELECTORS

	// COPYRIGHT

	.copyright {
		@extend %copyright !optional;

		a {
			@extend %copyright-a !optional;

			&:hover {
				@extend %copyright-hvr !optional;
			}
		}
	}

	// SITEBY

	.siteby {
		@extend %siteby !optional;

		a {
			@extend %siteby-a !optional;

			&:hover {
				@extend %siteby-hvr !optional;
			}
		}
	}