/* SETUP | INNER | 2911_SETUP | INNER_GRID - 2019-04-02 */

// -------------------------------------
// EXTEND

	// SITE-INNER

	%siteinner {

		// GRID
		//grid-area: inner;
		display: grid;
			display: -ms-grid;

		// GRID-PARENT
		grid-template-columns: 1fr;
			-ms-grid-columns: 1fr;

		@include responsive-range(lrgup) {
			grid-template-columns: 1fr minmax(0, #{$width-full}rem) 1fr;
				-ms-grid-columns: 1fr minmax(0, #{$width-full}rem) 1fr;
		}

		// SPACING
		padding: 3rem 2rem;

	}

	// CONTENT-SIDEBAR-WRAP

	%csw {

		// GRID
		//grid-area: csw;

		// GRID-HOOK
		grid-column: 1;
			-ms-grid-column: 1;

		@include responsive-range(lrgup) {
			grid-column: 2;
				-ms-grid-column: 2;
		}

	}

	// CONTENT

	%content {

		// GRID
		grid-area: content;

	}

	// SIDEBAR-PRIMARY

	%sidebarprimary {

		// GRID
		//grid-area: sidebarprimary;

	}

	// SIDEBAR-SECONDARY

	%sidebarsecondary {

		// GRID
		//grid-area: sidebarsecondary;

	}

// -------------------------------------
// SELECTORS

	// SITE-INNER

	.site-inner {
		@extend %siteinner !optional;

		.inner-spacein-zero & {
			padding: 0;
		}
		.inner-spacein-zero-top & {
			padding-top: 0;
		}
		.inner-spacein-zero-bottom & {
			padding-bottom: 0;
		}
	}

	// CONTENT-SIDEBAR-WRAP

	.site-inner .content-sidebar-wrap {
		@extend %csw !optional;
	}

	// CONTENT

	.content {
		@extend %content !optional;
	}

	// SIDEBAR-PRIMARY

	.sidebar-primary {
		@extend %sidebarprimary !optional;
	}

	// SIDEBAR-SECONDARY

	.sidebar-secondary {
		@extend %sidebarsecondary !optional;
	}