/* SETUP | LAYOUT | 252_SETUPBASIC | SC - 2017-10-05 */

// -------------------------------------
// EXTEND

	%sc-siteinner {

		grid-template-columns: 1fr minmax(0, #{$width-csw-ms}rem) 1fr;
		grid-template-areas:
		". csw ."

	}

	%sc-csw {

		grid-template-columns: 1fr;
		grid-template-areas:
		"content"
		"sidebarprimary";

		// BASE (UP)
		@include responsive-range(baseup) {
			grid-template-columns: minmax(0, #{$width-sidebarprimary}rem) minmax(0, #{$width-content}rem);
			grid-template-areas:
			"sidebarprimary content";
		}

	}

	%sc-content {}

	%sc-sidebarprimary {}

// -------------------------------------
// SELECTORS

	.sidebar-content .site-inner {
		@extend %sc-siteinner !optional;
	}

	.sidebar-content .content-sidebar-wrap {
		@extend %sc-csw !optional;
	}

	.sidebar-content .content {
		@extend %sc-content !optional;
	}

	.sidebar-content .sidebar-primary {
		@extend %sc-sidebarprimary !optional;
	}

	.sidebar-content .site-header {
		@extend %cs-siteheader !optional;
	}
	.sidebar-content .site-header > .wrap {
		@extend %cs-siteheaderwraponly !optional;
	}

	.sidebar-content .site-footer {
		@extend %cs-sitefooter !optional;
	}
	.sidebar-content .site-footer > .wrap {
		@extend %cs-sitefooterwraponly !optional;
	}

	.sidebar-content .footer-widgets {
		@extend %cs-footerwidgets !optional;
	}
	.sidebar-content .footer-widgets > .wrap {
		@extend %cs-footerwidgetswraponly !optional;
	}