/* SETUP | LAYOUT | 252_SETUPBASIC | SSC - 2017-09-25 */

// -------------------------------------
// EXTEND

	%ssc-siteinner {

		// MOBILE (UP)
		@include responsive-range(mobileup) {
			grid-template-columns: 1fr minmax(0, #{$width-sidebarsecondary}rem) minmax(0, #{$width-csw-ms}rem) 1fr;
			grid-template-areas:
			". sidebarsecondary csw ."
		}

	}

	%ssc-csw {

		// MOBILE (UP)
		@include responsive-range(mobileup) {
			grid-template-columns: minmax(0, #{$width-sidebarprimary}rem) minmax(0, #{$width-content}rem);
			grid-template-areas:
			"sidebarprimary content"
		}

	}

	%ssc-content {}

	%ssc-sidebarprimary {}

	%ssc-sidebarsecondary {}

// -------------------------------------
// SELECTORS

	.sidebar-sidebar-content .site-inner {
		@extend %ssc-siteinner !optional;
	}

	.sidebar-sidebar-content .content-sidebar-wrap {
		@extend %ssc-csw !optional;
	}

	.sidebar-sidebar-content .content {
		@extend %ssc-content !optional;
	}

	.sidebar-sidebar-content .sidebar-primary {
		@extend %ssc-sidebarprimary !optional;
	}

	.sidebar-sidebar-content .sidebar-secondary {
		@extend %ssc-sidebarsecondary !optional;
	}