/* SETUP | HEADER | 2911_SETUP | HEADER-LOGOMENUH_FLEX - 2019-04-03 */

// -------------------------------------
// EXTEND

	// SITE-HEADER

	%siteheader {

		// FULLSCREEN
		//height: 100vh;

		// BG
		background-color: #f0f0f0;

	}
	%siteheaderwrap {

		// SPACING
		padding: 1.5rem;

		// FLEX
		display: flex;
		flex-direction: row;		// from left to right
		flex-wrap: nowrap;			// fits all in one line
		justify-content: left;		// left aligned
		//align-items: center;
		align-items: flex-end;		// vertically align elements from bottom

	}

	// TITLE-AREA

	%titlearea {

		// FLEX
		display: flex;
		flex-direction: row;		// from left to right
		flex-wrap: nowrap;			// fits all in one line
		justify-content: left;		// left aligned
		//align-items: center;
		align-items: flex-end;		// vertically align elements from bottom
		
	}

	// CUSTOM-LOGO

	%wpcustomlogo-titlearea {}
	%wpcustomlogo-sitetitle {}
	%wpcustomlogo-sitedescription {}

	%customlogo-link {}

	%customlogo {}

	// HEADER-WIDGET-AREA

	%headerwidgetarea {}

	// SITE-TITLE

	%sitetitle {

		// typography
		font-family: $fontfamily-sitetitle;				// fontfamily
		font-size: #{$fontsize-sitetitle}rem;			// fontsize
		font-weight: $fontweight-thick;
		line-height: 1;
		text-align: center;

		// SPACING
		margin-bottom: 0;

		// HIDE
		//display: none;

	}
	%sitetitle-a {}
	%sitetitle-hvr {}

	// SITE-TITLE (HEADER-IMAGE)

	%headerimage-sitetitle {

		// graphic logo
		color: transparent;

		// SPACING
		margin-bottom: 0;

	}
	%headerimage-sitetitle-a {}
	%headerimage-sitetitle-hvr {}

	// SITE-DESCRIPTION

	%sitedescription {

		// typography
		font-family: $fontfamily-sitedescription;		// fontfamily
		font-size: #{$fontsize-sitedescription}rem;		// fontsize
		font-weight: $fontweight-thin;
		line-height: 1;
		text-align: center;

		// space
		margin-bottom: 0;

		// HIDE
		//display: none;

	}

	// SITE-DESCRIPTION (HEADER-IMAGE)

	%headerimage-sitedescription {}

	// NAV-PRIMARY

	%header-navprimary {

		// HOOK
		grid-column: 1;
		grid-row: 1;
			// IE
			-ms-grid-column: 1;
			-ms-grid-row: 1;

		@include responsive-range(lrgup) {
			// HOOK
			grid-column: 2;
			grid-row: 3;
				// IE
				-ms-grid-column: 2;
				-ms-grid-row: 3;

			// SPACING
			margin-bottom: 0;
		}

		// SPACING
		margin-bottom: 1rem;

	}
	%header-navprimarywrap {}


// -------------------------------------
// SELECTORS

	// SITE-HEADER

	.site-header {
		@extend %siteheader !optional;
	}
	.site-header > .wrap {
		@extend %siteheaderwrap !optional;
	}

	// HEADER-WIDGET-AREA

	.header-widget-area {
		@extend %headerwidgetarea !optional;
	}

	// TITLE-AREA

	.title-area {
		@extend %titlearea !optional;
	}

	// CUSTOM-LOGO

	.wp-custom-logo .title-area {
		@extend %wpcustomlogo-titlearea !optional;
	}
	.wp-custom-logo .site-title {
		@extend %wpcustomlogo-sitetitle !optional;
	}
	.wp-custom-logo .site-description {
		@extend %wpcustomlogo-sitetitle !optional;
		@extend %wpcustomlogo-sitedescription !optional;
	}

	.custom-logo-link,
	a.custom-logo-link {
		@extend %customlogo-link !optional;
	}

	.custom-logo,
	img.custom-logo {
		@extend %customlogo !optional;
	}

	// SITE-TITLE

	.site-title {
		@extend %sitetitle !optional;

		a {
			@extend %sitetitle-a !optional;
		}
		a:hover {
			@extend %sitetitle-hvr !optional;
		}
	}

	// SITE-TITLE (HEADER IMAGE)

	.header-image .site-title {
		@extend %headerimage-sitetitle !optional;

		a {
			@extend %headerimage-sitetitle-a !optional;
		}
		a:hover {
			@extend %headerimage-sitetitle-hvr !optional;
		}
	}

	// SITE-DESCRIPTION

	.site-description {
		@extend %sitedescription !optional;
	}

	// SITE-DESCRIPTION (HEADER-IMAGE)

	.header-image .site-description {
		@extend %headerimage-sitedescription !optional;
	}

	// NAV-PRIMARY
	
	.site-header .nav-primary {
		@extend %header-navprimary !optional;
	}
	.site-header .nav-primary > .wrap {
		@extend %header-navprimarywrap !optional;
	}