/* SETUP | LAYOUT | 251_SETUPBASIC | CS - 2017-08-31 */

// -------------------------------------
// EXTEND

	%cs-siteinner {

		// MOBILE -1 (DOWN)
		@include responsive-range(mobilebelowdown) {}
		// MOBILE (UP)
		@include responsive-range(mobileup) {}
		// TABLET (UP)
		@include responsive-range(tabletup) {}
		// DESKTOP SMALL (UP)
		@include responsive-range(desktopsmlup) {}
		// DESKTOP (UP)
		@include responsive-range(desktopup) {
			grid-template-columns: 1fr minmax(0, 1060px) 1fr;
		}
		// WIDESCREEN (UP)
		@include responsive-range(widescreenup) {}

	}

	%cs-csw {

		// MOBILE -1 (DOWN)
		@include responsive-range(mobilebelowdown) {}
		// MOBILE (UP)
		@include responsive-range(mobileup) {}
		// TABLET (UP)
		@include responsive-range(tabletup) {}
		// DESKTOP SMALL (UP)
		@include responsive-range(desktopsmlup) {}
		// DESKTOP (UP)
		@include responsive-range(desktopup) {
			grid-template-columns: minmax(0, 728px) 32px minmax(0, 300px);
			grid-template-areas:
			"content . sidebarprimary";
		}
		// WIDESCREEN (UP)
		@include responsive-range(widescreenup) {}

	}

	%cs-content {}

	%cs-sidebarprimary {}

// -------------------------------------
// SELECTORS

	.content-sidebar .site-inner {
		@extend %cs-siteinner !optional;
	}

	.content-sidebar .content-sidebar-wrap {
		@extend %cs-csw !optional;
	}

	.content-sidebar .content {
		@extend %cs-content !optional;
	}

	.content-sidebar .sidebar-primary {
		@extend %cs-sidebarprimary !optional;
	}