/* SETUP | CONTENT | 2911_SETUP | ALIGN - 2019-04-02 */

// -------------------------------------
// EXTEND

// ALIGN

	%alignleft {
		float: left;
	}
	%alignright {
		float: right;
	}
	%aligncenter {
		margin-right: auto;
		margin-left: auto;
	}

// ALIGN IMG

	%alignleft-img {
		margin-right: #{$space-med}rem;
	}
	%alignright-img {
		margin-left: #{$space-med}rem;
	}

// ALIGN FULL

	%alignfull {
		// SECTION-FULLWIDTH
		margin-left: calc(-100vw / 2 + 100% / 2);
		margin-right: calc(-100vw / 2 + 100% / 2);
		max-width: 100vw;
	}
	%alignfull--fullwidth {
		//margin-left: calc(-100vw / 2 + 100% / 2);
		//margin-right: calc(-100vw / 2 + 100% / 2);
		//max-width: 100vw;
		/*
		width: 100vw;
		position: relative;
		left: 50%;
		right: 50%;
		margin-left: -50vw;
		margin-right: -50vw;
		*/
	}
	%alignfull--cs {
		// SECTION-MAXWIDTH
		margin-left: 0;
		margin-right: 0;
		max-width: 100%;
		width: 100%;
	}


// ALIGN WIDE

	%alignwide {
		@include responsive-range(lrgup) {
			margin-left: -128px;						// centers item based on width-lrg
			margin-right: -128px;						// centers item based on width-lrg
			min-width: #{$width-layout-lrg}rem;			// forces width-lrg
			max-width: #{$width-layout-lrg}rem;			// caps width-lrg
		}
		@include responsive-range(lrgdownbelow) {
			margin-left: auto;
			margin-right: auto;
			width: 100%;
			max-width: #{$width-layout-lrg}rem;			// caps width-lrg
		}
	}
	%alignwide--cs {
		@include responsive-range(lrgup) {
			margin-left: auto;							// removes centering based on larger sizes
			margin-right: auto;							// removes centering based on larger sizes
			width: 100%;								// adjusts width to maximum (width-med)
			min-width: auto;							// removes forced width-lrg
			max-width: #{$width-layout-lrg}rem;			// reduces width to width-med
		}
		@include responsive-range(lrgdownbelow) {
			max-width: #{$width-layout-lrg}rem;			// maximizes width to width-med
		}
	}

	%alignwide-xlrg {
		@include responsive-range(xlrgup) {
			margin-left: -256px;						// centers item based on width-xlrg
			margin-right: -256px;						// centers item based on width-xlrg
			min-width: #{$width-layout-xlrg}rem;		// forces width-xlrg
			max-width: #{$width-layout-xlrg}rem;		// caps width-xlrg
		}
		@include responsive-range(xlrgdownbelow) {
			min-width: none;							// removes min width-xlrg
		}
	}
	%alignwide-xlrg--cs {
		@include responsive-range(xlrgup) {
			margin-left: auto;							// removes centering based on larger sizes
			margin-right: auto;							// removes centering based on larger sizes
			width: 100%;								// adjusts width to maximum (width-med)
			min-width: auto;							// removes forced width-lrg
			max-width: #{$width-layout-xlrg}rem;		// reduces width to width-med
		}
		@include responsive-range(xlrgdownbelow) {
			max-width: #{$width-layout-xlrg}rem;		// maximizes width to width-med
		}
	}

	%alignwide-lrg {
		@include responsive-range(lrgup) {
			margin-left: -128px;						// centers item based on width-lrg
			margin-right: -128px;						// centers item based on width-lrg
			min-width: #{$width-layout-lrg}rem;			// forces width-xlrg
			max-width: #{$width-layout-lrg}rem;			// caps width-xlrg
		}
		@include responsive-range(lrgdownbelow) {
			max-width: #{$width-layout-lrg}rem;
		}
	}
	%alignwide-lrg--cs {
		@include responsive-range(lrgup) {
			margin-left: auto;							// removes centering based on larger sizes
			margin-right: auto;							// removes centering based on larger sizes
			width: 100%;								// adjusts width to maximum (width-med)
			min-width: auto;							// removes forced width-lrg
			max-width: #{$width-layout-lrg}rem;			// reduces width to width-med
		}
		@include responsive-range(lrgdownbelow) {
			min-width: none;
			max-width: #{$width-layout-lrg}rem;
		}
	}

	%alignwide-med {
		@include responsive-range(lrgup) {
			margin-left: auto;
			margin-right: auto;
			min-width: #{$width-layout-med}rem;			// forces width-med
			max-width: #{$width-layout-med}rem;
		}
		@include responsive-range(lrgdownbelow) {
			max-width: #{$width-layout-med}rem;
		}
	}
	%alignwide-med--cs {
		@include responsive-range(lrgdownbelow) {
			min-width: auto;
			max-width: #{$width-layout-med}rem;
		}
	}

	%alignwide-sml {
		@include responsive-range(lrgup) {
			margin-left: auto;
			margin-right: auto;
			min-width: #{$width-layout-sml}rem;
			max-width: #{$width-layout-sml}rem;
		}
		@include responsive-range(lrgdownbelow) {
			max-width: #{$width-layout-sml}rem;
		}
	}
	%alignwide-sml--cs {
		@include responsive-range(lrgdownbelow) {
			min-width: auto;
			max-width: #{$width-layout-sml}rem;
		}
	}

	%alignwide-xsml {
		@include responsive-range(lrgup) {
			margin-left: auto;
			margin-right: auto;
			min-width: #{$width-layout-xsml}rem;
			max-width: #{$width-layout-xsml}rem;
		}
		@include responsive-range(lrgdownbelow) {
			max-width: #{$width-layout-xsml}rem;
		}
	}
	%alignwide-xsml--cs {
		@include responsive-range(lrgdownbelow) {
			min-width: auto;
			max-width: #{$width-layout-xsml}rem;
		}
	}


// ALIGNWIDE IMG


	%alignwide-img {
		@include responsive-range(lrgup) {
			display: block;
			margin: 0 auto;
		}
	}
	%alignnone {
		float: none;
	}
	%aligncenter-item {
		display: block;
	}

// TEXTALIGN

	%textleft {
		text-align: left;
	}
	%textright {
		text-align: right;
	}
	%textcenter {
		text-align: center;
	}
	%textjustify {
		text-align: justify;
	}

// -------------------------------------
// SELECTORS

	// TEXT-ALIGN (bootstrap)

	.textleft {
		@extend %textleft !optional;
	}
	.textright {
		@extend %textright !optional;
	}
	.textcenter {
		@extend %textcenter !optional;
	}
	.textjustify {
		@extend %textjustify !optional;
	}

	// ALIGN

	.alignleft {
		@extend %alignleft !optional;
	}
	.alignright {
		@extend %alignright !optional;
	}
	.aligncenter {
		@extend %aligncenter !optional;
		@extend %aligncenter-item !optional;
	}

	// ALIGN FULL

	.alignfull {
		@extend %alignfull !optional;
	}
		.full-width-content .entry-content .alignfull {
			@extend %alignfull--fullwidth !optional;
		}
		.content-sidebar .entry-content .alignfull {
			@extend %alignfull--cs !optional;
		}
	.sidebar-content .entry-content .alignfull {
		@extend %alignfull--cs !optional;
	}

	// ALIGN WIDE

	.alignwide {
		@extend %alignwide !optional;
	}
		.full-width-content .site-container .alignwide {
			@extend %alignwide !optional;
		}
		.content-sidebar .alignwide {
			@extend %alignwide--cs !optional;
		}

	.alignwide.width-xlrg {
		@extend %alignwide-xlrg !optional;
	}
		.full-width-content.width-xlrg .site-container .alignwide {
			@extend %alignwide-xlrg !optional;
		}
		.content-sidebar .alignwide.width-xlrg {
			@extend %alignwide-xlrg--cs !optional;
		}

	.alignwide.width-lrg {
		@extend %alignwide-lrg !optional;
	}
		.full-width-content.width-lrg .site-container .alignwide {
			@extend %alignwide-lrg !optional;
		}
		.content-sidebar .alignwide.width-lrg {
			@extend %alignwide-lrg--cs !optional;
		}

	.alignwide.width-med {
		@extend %alignwide-med !optional;
	}
		.full-width-content.width-med .site-container .alignwide {
			@extend %alignwide-med !optional;
		}
		.content-sidebar .alignwide.width-med {
			@extend %alignwide-med--cs !optional;
		}

	.alignwide.width-sml {
		@extend %alignwide-sml !optional;
	}
		.full-width-content.width-sml .site-container .alignwide {
			@extend %alignwide-sml !optional;
		}
		.content-sidebar .alignwide.width-sml {
			@extend %alignwide-sml--cs !optional;
		}

	.alignwide.width-xsml {
		@extend %alignwide-xsml !optional;
	}
		.full-width-content.width-xsml .site-container .alignwide {
			@extend %alignwide-xsml !optional;
		}
		.content-sidebar .alignwide.width-xsml {
			@extend %alignwide-xsml--cs !optional;
		}

	.alignnone {
		@extend %alignnone !optional;
	}

	// ALIGN IMG

	.alignfull img {
		@extend %alignwide-img !optional;
	}
	.alignwide img {
		@extend %alignwide-img !optional;
	}

	// IMG.ALIGN

	img.alignleft {
		@extend %alignleft !optional;
		@extend %alignleft-img !optional;
	}
	img.alignright {
		@extend %alignright !optional;
		@extend %alignright-img !optional;
	}
	img.aligncenter {
		@extend %aligncenter !optional;
		@extend %aligncenter-item !optional;
	}
	img.alignnone {
		@extend %alignnone !optional;
	}

	// MAXWIDTH

	.maxwidth {
		@extend %alignfull !optional;
	}