/* SETUP | CONTENT | 251_SETUPBASIC | LINK - 2017-08-31 */

// -------------------------------------
// EXTEND

	%link {
		color: $color-link;
		text-decoration: none;
	}
	%hover {
		color: $color-hover;
		text-decoration: none;
	}

// -------------------------------------
// SELECTORS

	a {
		@extend %link !optional;
	}

	a:hover {
		@extend %hover !optional;
	}	