/* SETUP | LAYOUT | 253_SETUPSTANDARD | HEADER - 2017-1-2 */

// -------------------------------------
// EXTEND

	// SITE-HEADER

	%siteheader {

		grid-area: header;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas:
		"headerwrap";
		
		// HEADER SPACING
		padding: 0.5rem 1rem;
		border-bottom: 1px solid #eaeaea;

		// LRG (UP)
		@include responsive-range(lrgup) {
			grid-template-columns: 1fr minmax(0, #{$width-base}rem) 1fr;
			grid-template-areas:
			". headerwrap .";
		}

	}
	%siteheaderwrap {}
	%siteheaderwraponly {

		grid-area: headerwrap;
		display: grid;
		grid-template-columns: 1fr auto 1fr;
		grid-template-areas:
		". titlearea ."
		". headerwidgetarea .";

		// LRG (UP)
		@include responsive-range(lrgup) {
			grid-template-columns: 1fr minmax(0, #{$width-gutter}rem) 1fr;
			grid-template-areas:
			"titlearea . headerwidgetarea";
		}

	}

	// HEADER-WIDGET-AREA

	%headerwidgetarea {

		grid-area: headerwidgetarea;
		display: grid;
		grid-template-columns: 1fr auto 1fr;
		grid-template-areas:
		". navprimary .";
		align-self: center;

		// LRG (UP)
		@include responsive-range(lrgup) {
			grid-template-columns: 1fr auto;
			grid-template-areas:
			". navprimary";
		}

	}

	// TITLE-AREA

	%titlearea {

		grid-area: titlearea;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas:
		"sitetitle"
		"sitedescription";

		// LRG (UP)
		@include responsive-range(lrgup) {
			grid-template-columns: auto 1rem auto 1fr;
			grid-template-areas:
			"sitetitle . sitedescription .";
		}

	}
	%full-titlearea {}

	// SITE-TITLE

	%sitetitle {

		grid-area: sitetitle;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas:
		"sitetitlelink";

		// TEXT LOGO
		font-family: $fontfamily-sitetitle;				// fontfamily
		font-size: #{$fontsize-sitetitle}rem;			// fontsize
		font-weight: $fontweight-thick;
		line-height: 1;
		margin-bottom: 0;
		text-align: center;

		// LRG (UP)
		@include responsive-range(lrgup) {
			text-align: left;
			align-self: center;
		}

	}
	%sitetitle-a {

		grid-area: sitetitlelink;
		
		// TEXT LOGO
		text-align: center;

		// LRG (UP)
		@include responsive-range(lrgup) {
			text-align: left;
		}

	}
	%sitetitle-hvr {}

	// SITE-TITLE (HEADER-IMAGE)

	%headerimage-sitetitle {

		grid-template-columns: 1fr auto 1fr;
		grid-template-areas:
		". sitetitlelink .";

		// GRAPHIC LOGO (UPLOADED)
		color: transparent;

		// LRG (UP)
		@include responsive-range(lrgup) {
			grid-template-columns: 1fr;
			grid-template-areas:
			"sitetitlelink";
			align-self: center;			
		}

	}
	%headerimage-sitetitle-a {

		// GRAPHIC LOGO (UPLOADED)
		width: 200px;
		height: 50px;
		display: block;
		color: transparent;
	}
	%headerimage-sitetitle-hvr {}

	// SITE-DESCRIPTION

	%sitedescription {

		grid-area: sitedescription;

		// TEXT DESCRIPTION
		font-family: $fontfamily-sitedescription;		// fontfamily
		font-size: #{$fontsize-sitedescription}rem;		// fontsize
		font-weight: $fontweight-thin;
		line-height: 1;
		margin-top: 0.5rem;
		margin-bottom: 0;
		text-align: center;

		// LRG (UP)
		@include responsive-range(lrgup) {
			text-align: left;
			align-self: center;
			margin-top: 0.5rem;
		}

	}

	// SITE-DESCRIPTION (HEADER-IMAGE)

	%headerimage-sitedescription {
		margin-top: 1rem;

		// LRG (UP)
		@include responsive-range(lrgup) {
			margin-top: 0;
		}

	}
		%full-headerimage-sitedescription {}


// -------------------------------------
// SELECTORS

	// SITE-HEADER

	.site-header {
		@extend %siteheader !optional;
		
		.wrap {
			@extend %siteheaderwrap !optional;
		}
	}
	.site-header > .wrap {
		@extend %siteheaderwraponly !optional;
	}

	// HEADER-WIDGET-AREA

	.header-widget-area {
		@extend %headerwidgetarea !optional;
	}

	// TITLE-AREA

	.title-area {
		@extend %titlearea !optional;
	}
		.full-width-content .title-area {
			@extend %full-titlearea !optional;
		}

	// SITE-TITLE

	.site-title {
		@extend %sitetitle !optional;

		a {
			@extend %sitetitle-a !optional;
		}
		a:hover {
			@extend %sitetitle-hvr !optional;
		}
	}

	// SITE-TITLE (HEADER IMAGE)

	.header-image .site-title {
		@extend %headerimage-sitetitle !optional;

		a {
			@extend %headerimage-sitetitle-a !optional;
		}
		a:hover {
			@extend %headerimage-sitetitle-hvr !optional;
		}
	}

	// SITE-DESCRIPTION

	.site-description {
		@extend %sitedescription !optional;
	}

	// SITE-DESCRIPTION (HEADER-IMAGE)

	.header-image .site-description {
		@extend %headerimage-sitedescription !optional;
	}
		.full-width-content .site-description {
			@extend %full-headerimage-sitedescription !optional;
		}