/* SETUP | GUIDE | 251_SETUPBASIC | INNER - 2017-10-23 */

// -------------------------------------
// EXTEND

	// SITE-INNER

	%siteinner_layout {
		//background-color: #b8b8b8;
		background-color: #fbfbfb;
	}

	// CONTENT-SIDEBAR-WRAP

	%csw_layout {
		background-color: #e6e6e6;
	}

	// CONTENT

	%content_layout {
		background-color: #fff;
	}

	// SIDEBAR-PRIMARY

	%sidebarprimary_layout {
		background-color: #eee;
	}

	// SIDEBAR-SECONDARY

	%sidebarsecondary_layout {
		@extend %clearfix !optional;
	}

// -------------------------------------
// SELECTORS

	// SITE-INNER

	.site-inner {
		@extend %siteinner !optional;
		@extend %siteinner_layout !optional;
	}

	// CONTENT-SIDEBAR-WRAP

	.content-sidebar-wrap {
		@extend %csw !optional;
		@extend %csw_layout !optional;
	}

	// CONTENT

	.content {
		@extend %content !optional;
		@extend %content_layout !optional;
	}

	// SIDEBAR-PRIMARY

	.sidebar-primary {
		@extend %sidebarprimary !optional;
		@extend %sidebarprimary_layout !optional;
	}

	// SIDEBAR-SECONDARY

	.sidebar-secondary {
		@extend %sidebarsecondary !optional;
		@extend %sidebarsecondary_layout !optional;
	}

