/* SETUP | GRID | 263_SETUPBASIC_GRID | NEAT - 2018-09-12 */

$neat-grid: (
  columns: 12,
  gutter: 1rem,
);

$columns-neat-grid: (
  columns: 12,
  gutter: 1rem,
);

$columns-fifth-neat-grid: (
  columns: 5,
  gutter: 1rem,
);

$columns-eight-neat-grid: (
  columns: 8,
  gutter: 1rem,
);

$grids-neat-grid: (
  columns: 12,
  gutter: 1rem,
);

$grids-fifth-neat-grid: (
  columns: 5,
  gutter: 1rem,
);

$grids-eight-neat-grid: (
  columns: 8,
  gutter: 1rem,
);