/* SETUP | GRID | 261_SETUPBASIC_GRID | GRID - 2018-06-11 */

// -------------------------------------
// EXTEND

// GRID CONTAINERS

	%grid {
		//display: -ms-grid;
		display: grid;
	}

// GRID GAP

	%grid-gap {
		grid-column-gap: #{$space-default}rem;
		grid-row-gap: #{$space-default}rem;

		@include responsive-range(tabletbelowdown) {
			grid-column-gap: #{$space-sml}rem;
			grid-row-gap: #{$space-sml}rem;
		}
	}

// FULL

	%grid-full {
		//-ms-grid-columns: repeat(1, 1fr);
		grid-template-columns: repeat(1, 1fr);
	}

// HALF (GRID)

	%grid-half {
		//-ms-grid-columns: repeat(2, 1fr);
		grid-template-columns: repeat(2, 1fr);
	}
		%grid-half-full {
			//-ms-grid-column: span 2;
			grid-column: span 2;
		}

// THIRD

	%grid-third {
		//-ms-grid-columns: repeat(3, 1fr);
		grid-template-columns: repeat(3, 1fr);
	}
		%grid-third-full {
			//-ms-grid-column: span 3;
			grid-column: span 3;
		}
		%grid-third-twothirds {
			//-ms-grid-column: span 2;
			grid-column: span 2;
		}

// FOURTH

	%grid-fourth {
		//-ms-grid-columns: repeat(4, 1fr);
		grid-template-columns: repeat(4, 1fr);
	}
		%grid-fourth-full {
			//-ms-grid-column: span 4;
			grid-column: span 4;
		}
		%grid-fourth-threefourths {
			//-ms-grid-column: span 3;
			grid-column: span 3;
		}
		%grid-fourth-half {
			//-ms-grid-column: span 2;
			grid-column: span 2;
		}

// FIFTH

	%grid-fifth {
		//-ms-grid-columns: repeat(5, 1fr);
		grid-template-columns: repeat(5, 1fr);
	}
		%grid-fifth-full {
			//-ms-grid-column: span 5;
			grid-column: span 5;
		}
		%grid-fifth-fourfifths {
			//-ms-grid-column: span 4;
			grid-column: span 4;
		}
		%grid-fifth-threefifths {
			//-ms-grid-column: span 3;
			grid-column: span 3;
		}	
		%grid-fifth-half {
			//-ms-grid-column: span 2;
			grid-column: span 2;
		}
		%grid-fifth-twofifths {
			//-ms-grid-column: span 2;
			grid-column: span 2;
		}

// SIXTH

	%grid-sixth {
		//-ms-grid-columns: repeat(6, 1fr);
		grid-template-columns: repeat(6, 1fr);
	}
		%grid-sixth-full {
			//-ms-grid-column: span 6;
			grid-column: span 6;
		}
		%grid-sixth-fivesixths {
			//-ms-grid-column: span 5;
			grid-column: span 5;
		}
		%grid-sixth-twothirds {
			//-ms-grid-column: span 4;
			grid-column: span 4;
		}
		%grid-sixth-half {
			//-ms-grid-column: span 3;
			grid-column: span 3;
		}
		%grid-sixth-third {
			//-ms-grid-column: span 2;
			grid-column: span 2;
		}

// EIGHT

	%grid-eight {
		//-ms-grid-columns: repeat(8, 1fr);
		grid-template-columns: repeat(8, 1fr);
	}
		%grid-eight-full {
			//-ms-grid-column: span 8;
			grid-column: span 8;
		}
		%grid-eight-seveneights {
			//-ms-grid-column: span 7;
			grid-column: span 7;
		}
		%grid-eight-threefourths {
			//-ms-grid-column: span 6;
			grid-column: span 6;
		}		
		%grid-eight-fiveeights {
			//-ms-grid-column: span 5;
			grid-column: span 5;
		}
		%grid-eight-half {
			//-ms-grid-column: span 4;
			grid-column: span 4;
		}
		%grid-eight-threeeights {
			//-ms-grid-column: span 3;
			grid-column: span 3;
		}
		%grid-eight-fourth {
			//-ms-grid-column: span 2;
			grid-column: span 2;
		}

// -------------------------------------
// SELECTORS

// FULL

	.grid-full {
		@extend %grid !optional;
		@extend %grid-gap !optional;
		@extend %grid-full !optional;
	}

// HALF

	.grid-half {
		@extend %grid !optional;
		@extend %grid-gap !optional;
		@extend %grid-half !optional;
	}
	.grid-half > .full {
		@extend %grid-half-full !optional;
	}

// THIRD

	.grid-third {
		@extend %grid !optional;
		@extend %grid-gap !optional;
		@extend %grid-third !optional;
	}
	.grid-third > .full {
		@extend %grid-third-full !optional;
	}
	.grid-third > .twothirds {
		@extend %grid-third-twothirds !optional;
	}

// FOURTH

	.grid-fourth {
		@extend %grid !optional;
		@extend %grid-gap !optional;
		@extend %grid-fourth !optional;
	}
	.grid-fourth > .full {
		@extend %grid-fourth-full !optional;
	}
	.grid-fourth > .threefourths {
		@extend %grid-fourth-threefourths !optional;
	}
	.grid-fourth > .half {
		@extend %grid-fourth-half !optional;
	}

// FIFTH

	.grid-fifth {
		@extend %grid !optional;
		@extend %grid-gap !optional;
		@extend %grid-fifth !optional;
	}
	.grid-fifth > .full {
		@extend %grid-fifth-full !optional;
	}
	.grid-fifth > .fourfifths {
		@extend %grid-fifth-fourfifths !optional;
	}
	.grid-fifth > .threefifths {
		@extend %grid-fifth-threefifths !optional;
	}
	.grid-fifth > .half {
		@extend %grid-fifth-half !optional;
	}
	.grid-fifth > .twofifths {
		@extend %grid-fifth-twofifths !optional;
	}

// SIXTH

	.grid-sixth {
		@extend %grid !optional;
		@extend %grid-gap !optional;
		@extend %grid-sixth !optional;
	}
	.grid-sixth > .full {
		@extend %grid-sixth-full !optional;
	}
	.grid-sixth > .fivesixths {
		@extend %grid-sixth-fivesixths !optional;
	}
	.grid-sixth > .twothirds {
		@extend %grid-sixth-twothirds !optional;
	}
	.grid-sixth > .half {
		@extend %grid-sixth-half !optional;
	}
	.grid-sixth > .third {
		@extend %grid-sixth-third !optional;
	}

// EIGHT

	.grid-eight {
		@extend %grid !optional;
		@extend %grid-gap !optional;
		@extend %grid-eight !optional;
	}
	.grid-eight > .full {
		@extend %grid-eight-full !optional;
	}
	.grid-eight > .seveneights {
		@extend %grid-eight-seveneights !optional;
	}
	.grid-eight > .threefourths {
		@extend %grid-eight-threefourths !optional;
	}
	.grid-eight > .fiveeights {
		@extend %grid-eight-fiveeights !optional;
	}
	.grid-eight > .half {
		@extend %grid-eight-half !optional;
	}
	.grid-eight > .threeeights {
		@extend %grid-eight-threeeights !optional;
	}
	.grid-eight > .fourth {
		@extend %grid-eight-fourth !optional;
	}

// IE FALLBACK

	.columns > div,
	.grid-full > div,
	.grid-half > div,
	.grid-third > div,
	.grid-fourth > div,
	.grid-fifth > div,
	.grid-sixth > div,
	.grid-eight > div {
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			float: left;
		}
	}

	.columns > div.full,
	.grid-full > div,
	.grid-half > div.full,
	.grid-third > div.full,
	.grid-fourth > div.full,
	.grid-fifth > div.full,
	.grid-sixth > div.full,
	.grid-eight > div.full {
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			width: 100%;
		}
	}

	.columns > div.third,
	.grid-full > div.third,
	.grid-half > div.third,
	.grid-third > div,
	.grid-fourth > div.third,
	.grid-fifth > div.third,
	.grid-sixth > div.third,
	.grid-eight > div.third {
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			width: 32%;
			margin-right: 1%;
			margin-bottom: 1%;
		}
	}

	.columns > div.half,
	.grid-full > div.half,
	.grid-half > div,
	.grid-third > div.half,
	.grid-fourth > div.half,
	.grid-fifth > div.half,
	.grid-sixth > div.half,
	.grid-eight > div.half {
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			width: 49%;
			margin-right: 1%;
			margin-bottom: 1%;
		}
	}

	.columns > div.fourth,
	.grid-full > div.fourth,
	.grid-half > div.fourth,
	.grid-third > div.fourth,
	.grid-fourth > div,
	.grid-fifth > div.fourth,
	.grid-sixth > div.fourth,
	.grid-eight > div.fourth {
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			width: 24%;
			margin-right: 1%;
			margin-bottom: 1%;
		}
	}

	.columns-full > div.fifth,
	.grid-full > div.fifth,
	.grid-half > div.fifth,
	.grid-third > div.fifth,
	.grid-fourth > div.fifth,
	.grid-fifth > div,
	.grid-sixth > div.fifth,
	.grid-eight > div.fifth {
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			width: 19%;
			margin-right: 1%;
			margin-bottom: 1%;
		}
	}

	.columns > div.full,
	.grid-full > div.sixth,
	.grid-half > div.sixth,
	.grid-third > div.sixth,
	.grid-fourth > div.sixth,
	.grid-fifth > div.sixth,
	.grid-sixth > div,
	.grid-eight > div.sixth {
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			width: 15.66%;
			margin-right: 1%;
			margin-bottom: 1%;
		}
	}

	.columns > div.eight,
	.grid-full > div.eight,
	.grid-half > div.eight,
	.grid-third > div.eight,
	.grid-fourth > div.eight,
	.grid-fifth > div.eight,
	.grid-sixth > div.eight,
	.grid-eight > div {
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			width: 11.5%;
			margin-right: 1%;
			margin-bottom: 1%;
		}
	}

	.columns > div.twothirds,
	.grid-full > div.twothirds,
	.grid-half > div.twothirds,
	.grid-third > div.twothirds,
	.grid-fourth > div.twothirds,
	.grid-fifth > div.twothirds,
	.grid-sixth > div.twothirds,
	.grid-eight > div.twothirds {
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			width: 65%;
			margin-right: 1%;
			margin-bottom: 1%;
		}
	}

	.columns > div.threefourths,
	.grid-full > div.threefourths,
	.grid-half > div.threefourths,
	.grid-third > div.threefourths,
	.grid-fourth > div.threefourths,
	.grid-fifth > div.threefourths,
	.grid-sixth > div.threefourths,
	.grid-eight > div.threefourths{
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			width: 65%;
			margin-right: 1%;
			margin-bottom: 1%;
		}
	}