/* SETUP | COMMENT | 251_SETUPBASIC | COMMENTEDITLINK - 2017-08-31 */

// -------------------------------------
// EXTEND

// COMMENT-EDIT-LINK

	%commenteditlink {
		font-size: #{$fontsize-xxsml}rem;
		line-height: 1.2;
		display: none;
	}

// -------------------------------------
// SELECTORS

// COMMENT-EDIT-LINK

	.comment-edit-link {
		@extend %commenteditlink !optional;
	}